/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Styles */
body {
  font-family: 'Arial', sans-serif;
  padding: 2rem;
  max-width: 36rem;
  text-align: center;
  margin: auto;
  background-color: aliceblue;
}

.col-headers {
  font-weight: bold;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin-block: 1.5rem;
}


.target-load-container {
  text-align: center;
  margin-block: 1.5rem;
}

label {
  display: block;
}

input#target-load {
  padding-block: 0.5rem;
  margin-block: .5rem;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border-color: royalblue;
  border-width: 4px;
  border-style: solid;
}

input.per-side {
  text-align: center;
  width: 30%;
  padding-block: 0.2rem;
  background-color: royalblue;
  border: none;
  color: white;
  border-radius: 0.25rem;
}

.counter {
  text-align: center;
}

.counter input[type=number]::-webkit-inner-spin-button,
.counter input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

canvas {
  width: 100vw;
  display: block;
}

button {
  padding: 0;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  color: white;
  border-radius: 3rem;
  background-color: darkgray;
  font-weight: bold;
  cursor: pointer;
  transition: opacity .15s, background-color .15s;
  -webkit-appearance: none;
}

button:hover {
  opacity: 0.75;
}

button:active {
  background-color: gray;
}

input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: gray;
}